# NAVDEEP MEHTA
## Coures = DLCVNLP 10th
## Task = Data Cleaning Assignment
### E-mail = navdeepmehta884@gmail.com

In [17]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',

'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

In [18]:
df.head()

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [19]:
df.shape

(5, 4)

In [20]:
df.size

20

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   From_To       5 non-null      object
 1   FlightNumber  3 non-null      float64
 2   RecentDelays  5 non-null      object
 3   Airline       5 non-null      object
dtypes: float64(1), object(3)
memory usage: 288.0+ bytes

In [22]:
df.describe()

       FlightNumber
count           3.0
mean        10065.0
std            20.0
min         10045.0
25%         10055.0
50%         10065.0
75%         10075.0
max         10085.0

In [23]:
df.isnull().sum()

From_To         0
FlightNumber    2
RecentDelays    0
Airline         0
dtype: int64

In [24]:
k=0
x=df['FlightNumber'].isnull()
for i in x:
    if i == True:
        if k==0:
            df['FlightNumber'][k] = df['FlightNumber'][k+1]-10
        elif k!=0:
            df['FlightNumber'][k] = df['FlightNumber'][k-1]+10
    else:
        pass
    k=k+1

<ipython-input-24-63f5f9e5f8d0>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FlightNumber'][k] = df['FlightNumber'][k-1]+10

In [25]:
df['FlightNumber']

0    10045.0
1    10055.0
2    10065.0
3    10075.0
4    10085.0
Name: FlightNumber, dtype: float64

In [26]:
df[['From','To']]=df['From_To'].str.split("_",n=-1,expand=True)

In [27]:
df.drop('From_To',inplace=True,axis=1)
df

   FlightNumber  RecentDelays              Airline      From         To
0       10045.0      [23, 47]               KLM(!)    LoNDon      paris
1       10055.0            []    <Air France> (12)    MAdrid      miLAN
2       10065.0  [24, 43, 87]  (British Airways. )    londON  StockhOlm
3       10075.0          [13]       12. Air France  Budapest      PaRis
4       10085.0      [67, 32]          "Swiss Air"  Brussels     londOn

In [28]:
j=0
for i in df['From']:
    i=i.capitalize()
    df['From'][j]=i
    j=j+1
k=0
for i in df['To']:
    i=i.capitalize()
    df['To'][k]=i
    k=k+1

<ipython-input-28-4d05360f87c3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['From'][j]=i
<ipython-input-28-4d05360f87c3>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['To'][k]=i

In [31]:
df[['RecentDelays1','RecentDelays2','RecentDelays3']]=pd.DataFrame(df.RecentDelays.to_list(), index=df.index)

In [34]:
df.drop('RecentDelays',inplace=True,axis=1)

In [35]:
df

,FlightNumber,Airline,From,To,RecentDelays1,RecentDelays2,RecentDelays3
0,10045.0,KLM(!),London,Paris,23.0,47.0,NaN
1,10055.0,<Air France> (12),Madrid,Milan,NaN,NaN,NaN
2,10065.0,(British Airways. ),London,Stockholm,24.0,43.0,87.0
3,10075.0,12. Air France,Budapest,Paris,13.0,NaN,NaN
4,10085.0,"""Swiss Air""",Brussels,London,67.0,32.0,NaN

In [36]:
def impute_Dealays(cols):
    RecentDelays=cols[0]
    if pd.isnull(RecentDelays):
        return 0
    else:
        return RecentDelays

In [41]:
df['RecentDelays1']=df[['RecentDelays1']].apply(impute_Dealays,axis=1)
df['RecentDelays2']=df[['RecentDelays2']].apply(impute_Dealays,axis=1)
df['RecentDelays3']=df[['RecentDelays3']].apply(impute_Dealays,axis=1)

In [42]:
df

,FlightNumber,Airline,From,To,RecentDelays1,RecentDelays2,RecentDelays3
0,10045.0,KLM(!),London,Paris,23.0,47.0,0.0
1,10055.0,<Air France> (12),Madrid,Milan,0.0,0.0,0.0
2,10065.0,(British Airways. ),London,Stockholm,24.0,43.0,87.0
3,10075.0,12. Air France,Budapest,Paris,13.0,0.0,0.0
4,10085.0,"""Swiss Air""",Brussels,London,67.0,32.0,0.0